[defaults]
roles_path = roles
inventory = lca2022-hosts
remote_tmp = /tmp/$USER/.ansible/tmp
transport = smart
host_key_checking = false
# SSH timeout
timeout = 30
# how many concurrent ssh_connection
forks = 20
gathering = smart
remote_user = vagrant
stdout_callback = unixy
bin_ansible_callback = true
no_target_syslog = true

[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = false

[ssh_connection]
pipelining = True
scp_if_ssh = smart
ssh_args = "-C -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o ControlMaster=auto -o ControlPersist=60s"
control_path_dir = "~/.ansible"
control_path = "ansible-ssh-%%h-%%p-%%r"
usetty = True

[persistent_connection]

# Configures the persistent connection timeout value in seconds.  This value is
# how long the persistent connection will remain idle before it is destroyed.
# If the connection doesn't receive a request before the timeout value
# expires, the connection is shutdown. The default value is 30 seconds.
connect_timeout = 60

# The command timeout value defines the amount of time to wait for a command
# or RPC call before timing out. The value for the command timeout must
# be less than the value of the persistent connection idle timeout (connect_timeout)
# The default value is 30 second.
#command_timeout = 30

